
/* Hero section */
.hero.about-hero {
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: auto;
    .hero-wrapper {
        padding-bottom: 150px;
        @include bp(tablet-all) {
            padding-bottom: 100px;
        }
        h1 {
            color: #fff;
        }
        .above-title {
            color: #FFFFFF;
            // font-family: "All About Wheels Font", Sans-serif;
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 5px;
        }
    }
}
    .about-below-sec {
        background-color: #2B59C3;
        padding-top: 120px;
        padding-bottom: 50px;
        @include bp(laptop) {
            padding-top: 100px;
        }
        @include bp(mobile-all) {
            padding-top: 60px;
        }
        .about-below-wrap {
            display: flex;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        p {
            text-align: left;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 400;
            @include bp(laptop) {
                font-size: 18px;
            }
            @include bp(tablet-all) {
                font-size: 18px;
            }
        }
    }
    .hero-about-shape {
        position: relative;
        bottom: -54px;
        svg {
            // width: calc(122% + 1.3px);
            height: 96px;
            width: 100%;
            .elementor-shape-fill {
                fill: #fff;
                transform-origin: center;
                transform: rotateX(180deg);
            }
        }
    }



/* Content section */
.about-content {
    padding: 70px 0;
    @include bp(mobile-all) {
        padding: 0;
    }
    .about-cont-img-wrap {
        overflow: hidden;
        @include bp(mobile-all) {
            display: flex;
            justify-content: center;
        }
        img {
            max-width: 400px;
            margin-left: 70px;
            @include bp(tablet-all) {
                margin-left: 0;
                max-width: 350px;
            }
        }
    }
    .about-cont-text-wrap {
        p {
            color: #2B59C3;
            font-size: 20px;
            font-weight: 400;
            @include bp(laptop) {
                font-size: 18px;
            }
            @include bp(tablet-all) {
                font-size: 18px;
            }
        }
    }
}