.error-section {
    padding: 150px 0 100px;
        h1 {
            color: #2B59C3;
            font-size: 200px;
            font-weight: bold;
            padding-right: 30px;
            @include bp(laptop) {
                font-size: 170px;
            }
            @include bp(tablet-all) {
                font-size: 130px;
            }
        }
        .error-content {
            p {
                color: #2B59C3;
                font-size: 42px;
                line-height: 1.3em;
                font-weight: 600;
                padding-bottom: 20px;
                @include bp(tablet-all) {
                    font-size: 35px;
                    line-height: 42px;
                }
            }
            .error-fish {
                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    background-color: #fff;
                    height: 15px;
                    width: 100%;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' overflow='visible' height='100%' viewBox='0 0 120 26' fill='royalblue' stroke='none'%3E%3Cpolygon points='0,14.4 0,21 11.5,12.4 21.3,20 30.4,11.1 40.3,20 51,12.4 60.6,20 69.6,11.1 79.3,20 90.1,12.4 99.6,20 109.7,11.1 120,21 120,14.4 109.7,5 99.6,13 90.1,5 79.3,14.5 71,5.7 60.6,12.4 51,5 40.3,14.5 31.1,5 21.3,13 11.5,5 	'/%3E%3C/svg%3E");
                }
                img {
                    width: 30px;
                    height: auto;
                }
                &:before {
                    background-color: #fff;
                    height: 15px;
                    width: 100%;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' overflow='visible' height='100%' viewBox='0 0 120 26' fill='royalblue' stroke='none'%3E%3Cpolygon points='0,14.4 0,21 11.5,12.4 21.3,20 30.4,11.1 40.3,20 51,12.4 60.6,20 69.6,11.1 79.3,20 90.1,12.4 99.6,20 109.7,11.1 120,21 120,14.4 109.7,5 99.6,13 90.1,5 79.3,14.5 71,5.7 60.6,12.4 51,5 40.3,14.5 31.1,5 21.3,13 11.5,5 	'/%3E%3C/svg%3E");
                }
            }
            .search-text {
                color: #2B59C3;
                font-size: 15px;
                font-weight: normal;
            }
            .search-form {
                display: flex;
                justify-content: center;
                label {
                    width: 100%;
                    input {
                        color: #2B59C3;
                        background: #f1f2f3;
                        font-size: 15px;
                        height: 50px;
                        padding-left: 13px;
                        border: none;
                        width: 100%;
                    }
                }
                .search-submit {
                    background-color: #79AEDE;
                    border: none;
                    height: 50px;
                    color: #79aede;
                    position: relative;
                    background-image:url('/wp-content/uploads/2023/07/blue-search.png');
                    background-repeat: no-repeat;
                    width: 90px;
                    background-position: center;
                    cursor: pointer;
                }
            }
        }
}